layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="https://github.com/dj95/zjstatus/releases/latest/download/zjstatus.wasm" {
                format_left   "{mode}#[bg=#222436] {tabs}"
                format_center ""
                // format_right  "{swap_layout}#[bg=#222436,fg=#494d64] Zellij: #[bg=#222436,fg=#494d64]{session}"
                format_right  "#[bg=#222436,fg=#89b4fa]#[bg=#89b4fa,fg=#1e2030,bold] #[bg=#363a4f,fg=#89b4fa,bold] {session} #[bg=#222436,fg=#363a4f,bold]"
                format_space  "#[bg=#222436]"
                format_hide_on_overlength "false"
                format_precedence "crl"

                border_enabled  "false"
                // border_enabled  "true"
                // border_char     "─"
                border_char     " "
                border_format   "#[fg=#6C7086]{char}"
                // border_position "top"
                border_position "bottom"

                hide_frame_for_single_pane "true"
                hide_frame_for_single_pane "false"

                mode_normal        "#[bg=#a6da95,fg=#222436,bold] NORMAL#[bg=#222436,fg=#a6da95]"
                mode_locked        "#[bg=#6e738d,fg=#222436,bold] LOCKED #[bg=#222436,fg=#6e738d]"
                mode_resize        "#[bg=#8aadf4,fg=#222436,bold] RESIZE#[bg=#222436,fg=#8aadf4]"
                mode_pane          "#[bg=#8aadf4,fg=#222436,bold] PANE#[bg=#222436,fg=#8aadf4]"
                mode_tab           "#[bg=#8aadf4,fg=#222436,bold] TAB#[bg=#222436,fg=#8aadf4]"
                mode_scroll        "#[bg=#8aadf4,fg=#222436,bold] SCROLL#[bg=#222436,fg=#8aadf4]"
                mode_enter_search  "#[bg=#8aadf4,fg=#222436,bold] ENT-SEARCH#[bg=#222436,fg=#8aadf4]"
                mode_search        "#[bg=#8aadf4,fg=#222436,bold] SEARCHARCH#[bg=#222436,fg=#8aadf4]"
                mode_rename_tab    "#[bg=#8aadf4,fg=#222436,bold] RENAME-TAB#[bg=#222436,fg=#8aadf4]"
                mode_rename_pane   "#[bg=#8aadf4,fg=#222436,bold] RENAME-PANE#[bg=#222436,fg=#8aadf4]"
                mode_session       "#[bg=#8aadf4,fg=#222436,bold] SESSION#[bg=#222436,fg=#8aadf4]"
                mode_move          "#[bg=#8aadf4,fg=#222436,bold] MOVE#[bg=#222436,fg=#8aadf4]"
                mode_prompt        "#[bg=#8aadf4,fg=#222436,bold] PROMPT#[bg=#222436,fg=#8aadf4]"
                mode_tmux          "#[bg=#f5a97f,fg=#222436,bold] TMUX#[bg=#222436,fg=#f5a97f]"

                // formatting for inactive tabs
                tab_normal              "#[bg=#222436,fg=#8bd5ca]#[bg=#8bd5ca,fg=#222436,bold]{index} #[bg=#363a4f,fg=#8bd5ca,bold] {name}{floating_indicator}#[bg=#222436,fg=#363a4f,bold]"
                tab_normal_fullscreen   "#[bg=#222436,fg=#8bd5ca]#[bg=#8bd5ca,fg=#222436,bold]{index} #[bg=#363a4f,fg=#8bd5ca,bold] {name}{fullscreen_indicator}#[bg=#222436,fg=#363a4f,bold]"
                tab_normal_sync         "#[bg=#222436,fg=#8bd5ca]#[bg=#8bd5ca,fg=#222436,bold]{index} #[bg=#363a4f,fg=#8bd5ca,bold] {name}{sync_indicator}#[bg=#222436,fg=#363a4f,bold]"

                // formatting for the current active tab
                tab_active              "#[bg=#222436,fg=#eed49f]#[bg=#eed49f,fg=#222436,bold]{index} #[bg=#363a4f,fg=#eed49f,bold] {name}{floating_indicator}#[bg=#222436,fg=#363a4f,bold]"
                tab_active_fullscreen   "#[bg=#222436,fg=#eed49f]#[bg=#eed49f,fg=#222436,bold]{index} #[bg=#363a4f,fg=#eed49f,bold] {name}{fullscreen_indicator}#[bg=#222436,fg=#363a4f,bold]"
                tab_active_sync         "#[bg=#222436,fg=#eed49f]#[bg=#eed49f,fg=#222436,bold]{index} #[bg=#363a4f,fg=#eed49f,bold] {name}{sync_indicator}#[bg=#222436,fg=#363a4f,bold]"

                // separator between the tabs
                // tab_separator           "#[bg=#181926] "
                tab_separator           "#[bg=#222436] "

                // indicators
                tab_sync_indicator       " "
                tab_fullscreen_indicator " 󰊓"
                tab_floating_indicator   " 󰹙"

                command_git_branch_command     "git rev-parse --abbrev-ref HEAD"
                command_git_branch_format      "#[fg=blue] {stdout} "
                command_git_branch_interval    "10"
                command_git_branch_rendermode  "static"

                datetime        "#[fg=#6C7086,bold] {format} "
                datetime_format "%A, %d %b %Y %H:%M"
                datetime_timezone "Europe/Lisbon"
            }
        }
        children
    }
}

